body{
    background-color:#F8F8F8!important;
}

#profile-wrapper{
    text-align: center;
}

#profile-pic{
    width:150px;
    height:150px;
    border-radius:50%;
    margin-left: auto;
    margin-right: auto;
}

ul{
    padding: 0;
    list-style-type: none;
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
    list-style-type: none;
    display: inline;
}
.github a:hover {background: #191919; color: #fff;}
.linkedin a:hover {background: #0e76a8; color: #fff;}